# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic / Dependency Caches
node_modules
dist
dist-ssr
*.local

# Environment Variables
.env
.env.local
.env.production.local
.env.development.local
.env.test.local
.env.*.local

# MacOS System Files
.DS_Store
.AppleDouble
.LSOverride

# IDE / Text Editor Configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
